      /*  *{
            border: solid 1px red;
        }*/

 html, body {
                
                background-color: #ccc;
                color: #3b877b;
                font-family: 'Raleway', sans-serif;
                font-weight: 100;
                height: 100vh;
                margin: 0;
                display: block;
            }

            .full-height {
                height: 100vh;
            }

            .flex-center {
                align-items: center;
                display: flex;
                justify-content: center;
            }

            .position-ref {
                position: relative;
            }

            .top-right {
                position: absolute;
                right: 10px;
                top: 18px;
            }

            .content {
                text-align: center;

            }

            .title {
                font-size: 84px;
            }

            .links {

                color: #3b877b !important;
                margin: 115px 25px;
                font-size: 14px !important;
                font-weight: 600;
                
                text-decoration: none;
                
            }
            .links:hover,
            .links:focus,
            .linksNav:hover {
              color: #ccc;
              text-decoration: blink;
            }

            h4 small{
                color:#3b877b;
            }

            .m-b-md {
                margin-bottom: 30px;
            }

            .panel-heading {
                color: #3b877b !important;
                text-align: center;
                font-size: 36px;
                font-weight: 400;
                background-color: #eee !important;

            }
            .card {
                border: solid #3b877b 1px;
                width: 230px;
                padding: 5px;
                margin :15px;
                display: block;
                height: 310px;
                box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
                transition: 0.3s;
                border-radius: 3px;

            }
            .card:hover{
                box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
            }

            .totalCard {
                border: solid #3b877b 1px;
                width: 300px;
                margin :5px;
                display: block;
                height: 230px;
                box-shadow: -3px 3px #ccc;
                border-radius: 3px;
                box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
                transition: 0.3s;
            }
            .totalCard:hover{
                box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
            }

            .graph {
                border: solid #3b877b 1px;
                text-align: center;
                min-width:250px;
                margin :25px;
                height: auto;
                box-shadow: -3px 3px #ccc;
                border-radius: 3px;
                box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
                transition: 0.3s;
            }
            .graph:hover{
                box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
            }
            .trackerValue {
                /*border: solid #3b877b 1px;*/
                font-size: 50px;
                width: auto;
                height:55px;
                margin: 2px;
            }

            .trackTitle {
                font-size: 25px;
                font-weight: 500;
                margin: 5px 2px;
                height: 50px;
                width: auto;
                align-items: 
            }
            .navTitle {
                font-size: 32px;
                font-weight: 400;
                margin: -25px 2px;
               
            }
            .newTrackTitle{
                margin:25px 2px;
                text-shadow:  0px 2px  rgba(0,0,0,0.2);
                transition: 0.3s;
            }
            .newTrackTitle:hover{
                text-shadow:  0px 4px  rgba(0,0,0,0.2);
            }
            .arrow {
          
                text-shadow:  0px 2px  rgba(0,0,0,0.2);
                font-size: 55px;
                background: none;
                border: 0;
                transition: 0.3s;
            }
            .arrow:hover{
                text-shadow:  0px 4px  rgba(0,0,0,0.2);
            }
            .arrow:focus{
                outline: 0;
            }
            .arrowCol{
                display: inline-flex;
            }
            .editTrack {
          
                text-shadow:  0px 2px  rgba(0,0,0,0.2);
                font-size: 25px;
                height: 60px;
                background: none;
                border: 0;
                transition: 0.3s;
            }
            .editTrack:hover{
                text-shadow:  0px 4px  rgba(0,0,0,0.2);
            }
            .editTrack:focus{
                outline: 0;
            }
            .trackHistory {
                text-shadow:  0px 2px  rgba(0,0,0,0.2);
                font-size: 14px;
                height: 15px;
                background: none;
                border: 0;
                transition: 0.3s;
            }
            .trackHistory:hover{
                text-shadow:  0px 4px  rgba(0,0,0,0.2);
            }
            .trackHistory:focus{
                outline: 0;
            }
            .container .panel-body ul {
                display:inline-block;
                justify-content: center;
            }

            .numCol{
                align-items: center;
            }
            .num{
                border: solid #3b877b 1px;
                font-size: 65px;
                padding:-100px !important;
                width: 200px;
                height:auto;
                margin: 25px auto 5px; 
            }
            .trackerDate{
                
                font-size: 16px;
                font-weight: 200;
                width: 200px;
                height:auto;
                margin: 15px auto; 
            }
            .delete{
                border: solid #3b877b 1px;
                width: 24px;
                height: 24px;
                padding: 0px 1px 2px 0px;
            }
